@font-face {
  font-family: Avengeance Heroic Avenger ;
  src: url('../../public/fonts/AvengeanceHeroicAvengerBold-MM2J.ttf') format('ttf');
}

.movie-card{
  display: grid;
  grid-template-columns: repeat(auto-fill, 230px);
  gap:40px;
  padding: 40px;
  justify-content: center;
}
.img-container{
  width: 230px;
  height: 345px;
  border-radius: 6px;
}
.filter{
  padding: 40px;
  justify-content: center;
  font-family: Avengeance Heroic Avenger;
  color: azure;
  font-size: 1rem;
}
.select-movies{
  justify-content: space-evenly;
    gap: 30px;
    display: grid;
}