* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

:root {
  --background: #303030;
  --transparent: #303030ee;
  --primary: #dedede;
  --secondary: #d9050b;
  --codec: #04fb8ca7;
  --codec-background: #000000;
}

.light {
  background-color: var(--primary);
  color: var(--background);
}


button{
  all:unset;
  padding: 0.3rem 0.8rem;
  background-color: var(--background);
  border: 1px solid var(--codec);
  color: var(--primary);
  cursor: pointer
}
.avengers-mini{
  height: 55px;
  width: 55px;
}
